{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div>
    <h1 class="welcom">Welcom To CarShop</h1>
</div>
<hr style="height:10px">
<label>
    <input class="search" type="search" placeholder="Search">
</label>
<hr style="height:10px">
<div class="slideshow-container">
    {% for product in products %}
    <div class="mySlides">
<!--    <div class="numbertext">1 / 1</div>-->
        <img src="{{ product.image_url }}" style="width:1200px">
        <div class="text">info</div>
    </div>

<!--    <div class="mySlides">-->
<!--        <div class="numbertext">2 / 3</div>-->
<!--        <img src="{{ product.image_url }}" style="width:100%">-->
<!--        <div class="text">Caption Two</div>-->
<!--    </div>-->

<!--    <div class="mySlides">-->
<!--        <div class="numbertext">3 / 3</div>-->
<!--        <img src="{{ product.image_url }}" style="width:100%">-->
<!--        <div class="text">Caption Three</div>-->
<!--    </div>-->

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    {% endfor %}
</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div><br><br>

<div class="row">
    {% for product in products %}
    <div class="card" style="width: 18rem;">
        <img src="{{ product.image_url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {% endfor %}
</div>
<br>
<textarea id="comment" cols="40" rows="10" placeholder="Enter your commentd"></textarea><br>

<label class="button">
    <a href="confirm.html"><input type="submit"></a>
</label>
{% endblock %}