{% extends 'base.html' %}
{% block content %}
<div class="container">
<div>
    <h1 class="welcomeBMW">👋Welcom To toyota page👋</h1>
</div>
<br><br>
<div class="slideshow-container">
    {% for slider in sliders %}
    <div class="mySlides">
        <img src="{{ slider.img_urls }}" style="width:1200px">
        <div class="text">info</div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    {% endfor %}
</div>
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div><br><br><br>
</div>
{% endblock %}
