body{
    background-color: aqua !important;
}
.card-body{
    background: yellow;
}
.container-fluid{
    background: #C266DA;
}
#comment{
    border: 5px solid #d725c0;
    width: 500px;
    height: 260px;
    margin: 0 0 0 733px;
}
.button{
    border: 5px solid red;
    margin: 0 0 0 1160px;
    border-radius: 5px;
}
/*.background{
    background-image: url('image.png');
  background-size: 50%;
  width: 1300px;
  height: 400px;
  border: 2px solid;
  color: pink;
}*/
.welcom{
    margin: 0 0 0 280px;
    color: deeppink;
    font-size: 69px;
    text-shadow: 1px 1px 2px black, 0 0 1em #0c0c0c, 0 0 0.6em #000000;
}
.products{
    margin: 0px 0 0 455px;
    color: #feff27;
    font-size: 70px;
    text-shadow: 1px 1px 2px #fd0101, 0 0 1em #000000, 0 0 0.6em #000000;
}
.row{
    margin: 0 0 0 50px !important;
    --bs-gutter-x: 5px !important;
    --bs-gutter-y: 5px !important;
}
#search{
    margin: 0 0 0 400px !important;
    width: 500px !important;
    height: 37px !important;
    border: 3px dotted #0331cb !important;
}
#myMenu {
  list-style-type: decimal !important;
  padding: 0;
  margin: 0 0 0 390px;
}
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}
#myMenu li a:hover {
  background-color: #eee;
}
.footer{
    color: #14ef12;
    height: 100px;
    border: 3px solid gray;
    background-color: gray;
}
.button_link{
    position: relative;
    padding-left: 20px;
    padding-right: 10px;
}
.button_right{
    position: relative;
    padding-left: 10px;
    padding-right: 20px;
    float: right;
}
a.button_link{
     color: #26fd0d !important;
     font-size: 25px;
}
a.button_right{
    color: #26fd0d !important;
     font-size: 25px;
}
#footer{
color: blue;
    float: left;   display: inline-block !important;   width: 15% !important;
    margin-right: -50px;
}