body{
    background-color: aqua !important;
}
.card-body{
    background: yellow;
}
.container-fluid{
    background: #C266DA;
}
#comment{
    border: 5px solid #d725c0;
    width: 500px;
    height: 260px;
    margin: 0 0 0 733px;
}
.button{
    color: red;
    border: 2px solid red;
    margin: 0 0 0 1160px;
    border-radius: 2px;
}
.welcom{
    margin: 0 0 0 280px;
    color: deeppink;
    font-size: 69px;
    text-shadow: 1px 1px 2px black, 0 0 1em #0c0c0c, 0 0 0.6em #000000;
}
.products{
    margin: 0px 0 0 455px;
    color: #feff27;
    font-size: 70px;
    text-shadow: 1px 1px 2px #fd0101, 0 0 1em #000000, 0 0 0.6em #000000;
}
.row{
    margin: 0 0 0 50px !important;
    --bs-gutter-x: 5px !important;
    --bs-gutter-y: 5px !important;
}
input[type=text] {
  color: blue;
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 17px;
  background-color: #d4ff6c;;
  background-repeat: no-repeat;
  transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
  width: 100%;
  border: 4px dotted red !important;
}
.autocomplete {
  margin: 0 0 0 410px !important;
  width: 500px !important;
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
#myInput{
        height: 40px !important;
}

input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 17px;
  background-color: #f2ffc9;
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
  width: 100%;
}

#myMenu {
  list-style-type: decimal !important;
  padding: 0;
  margin: 0 0 0 390px;
}
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}
#myMenu li a:hover {
  background-color: #eee;
}
.footer{
    color: #14ef12;
    height: 100px;
    border: 3px solid gray;
    background-color: gray;
}
#footer{
    color: #00ff44;
    float: left;   display: inline-block !important;   width: 18% !important;
    margin-right: -60px;
    font-size: 20px;
}