body{
    background-color: aqua !important;
}
.card-body{
    background: yellow;
}
.container-fluid{
    background: #C266DA;
}
#comment{
    border: 5px solid #d725c0;
    width: 500px;
    height: 260px;
    margin: 0 0 0 733px;
}
.button{
    border: 5px solid red;
    margin: 0 0 0 1158px;
    border-radius: 5px;
}
/*.background{
    background-image: url('image.png');
  background-size: 50%;
  width: 1300px;
  height: 400px;
  border: 2px solid;
  color: pink;
}*/
.welcom{
    margin: 0 0 0 345px;
    color: deeppink;
    font-size: 69px;
}
.row{
    margin: 0 0 0 80px !important;
    --bs-gutter-x: none !important;
}